<div class="footer  bg-body-tertiary ">
    <div class="container">
<h2 class="mt-5 pt-5" >
    Get The Fresh Cart App
</h2>
<p class="text-muted"> we will send you alink,open it on your phone to download the app</p>


<div class="d-flex gap-5">
    <input type="text " class="form-control w-75" placeholder="Email.......">
    <button class="btn bg-main text-white">Send App Link</button>
</div>
<hr>

    </div>

    <div class="container" >
    <div class="d-flex justify-content-between  pb-5">
<div>
    <span>payment partner</span>
    <img src="../../../assets/images-20240302T152011Z-001/images/visa-1.svg" alt="" >
    <img src="../../../assets/images-20240302T152011Z-001/images/master.svg" alt="" >
    <img src="../../../assets/images-20240302T152011Z-001/images/visa.svg" alt="" >
</div>

<div >
    <img src="../../../assets/images-20240302T152011Z-001/images/app-store.svg" alt="" class="w-50" height="50">
    <img src="../../../assets/images-20240302T152011Z-001/images/google-store.svg" alt="" class="w-50" height="50">
</div>

    </div>
</div>

</div>
